# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/*
!.obsidian/plugins/homepage/
.obsidian/themes/

# OS
.DS_Store
Thumbs.db
example/
/output/
raw-private/*
!raw-private/.gitkeep
.claude/
